.rainbow-text {
	background-image: -o-repeating-linear-gradient(45deg, violet, indigo, blue, green, orange, red, violet);
	background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, orange, red, violet);
	-webkit-background-clip: text;
	background-size: 800% 800%;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rainbow 7s ease infinite;
	animation: rainbow 7s ease infinite;
}

@-webkit-keyframes rainbow {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 25%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes rainbow {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 25%;
	}

	100% {
		background-position: 0% 50%;
	}
}

a {
	color: #0000ee;
}

.themedRed {
	--block-background-color: #ff6961;
}

.themedGreen {
	--block-background-color: #90ee90;
}

.visible {
	display: block;
}